<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3XM60XK9RQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-0GEDC5RTJ9', { cookie_flags: 'SameSite=None;Secure' });
        </script>

        <!-- Title and Icon -->

        <title>KM MEET</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content=" KMMEET The Video Conferencing Platform."
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="KMMEET" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="KMMEET calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://kmmeet.up.railway.app/images/preview.png" />
        <meta property="og:url" content="https://kmmeet.herokuapp.com/" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background-color: rgb(6, 12, 88);
  font-family: cursive;
}

.glow {
  font-size: 60px;
  color: #fff;
  text-align: left;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 
    0 0 20px #fff,
     0 0 30px #fff, 
     0 0 40px #0b92ec, 
     0 0 50px #0b92ec, 
     0 0 60px #0b92ec, 
     0 0 70px #0b92ec;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 
    0 0 30px #fff, 
    0 0 40px #0b92ec, 
    0 0 50px #0b92ec, 
    0 0 60px #0b92ec, 
    0 0 70px #0b92ec; 
    0 0 80px  #0b92ec;
  }
}
</style>
    <body class="has-animations">
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-01">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h2 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                             <br><br><strong><h1 class="glow">KMMEET</h1></strong><i><br/><br/>Straightforward <br />Quick Secure Free browser based Real-time Video Call Application.</i><br />
                                        </h2>
                                        <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                            Start your next video call with a single click. No download, plug-in, or
                                            login is required. Just get straight to the conference room.
                                        </p>
                                        <div class="reveal-from-bottom" data-reveal-delay="450">
                    <a class="button button-primary button-wide-mobile pulse" style="
                          border: 0;
                          background: linear-gradient(
                            100deg,
                            #376df9 0,
                            #00c3ff 75%,
                            #f1f1ee 100%
                          );
                        " href="/newcall">Get Started</a>
                  </div>
                </div>
                <style>
                  @media (min-width: 641px) {
                    .hero .split-wrap .split-item {
                      min-height: 492px;
                    }
                  }
                </style>
              </div>
            </div>
          </div>
        </div>
      </section>

                <section class="features-tiles section center-content">
                    <div class="container">
                        <div class="features-tiles-inner section-inner has-top-divider">
                            <div class="section-header">
                                <div class="container-xs reveal-from-bottom" data-reveal-delay="650">
                                    <h3 class="mt-0 mb-16">
                                        Unlimited Number of conference rooms Without Call Time Limitation
                                    </h3>
                                    <p class="m-0">
                                        KMMEET is built radically differently. We left behind slow bulky servers,
                                        opting for peer-to-peer calling. We engineered a platform with maximum video
                                        quality lowest latency that makes your calls crystal clear.
                                    </p>
                                </div>
                            </div>
                            <div class="container">
                            <div class="section-header">
                                    <h3 class="mt-0 mb-16">
                                        Know Various Features
                                    </h3>
                                </div>
                            </div>
                            <div class="container">
                             </div>       
                            <div class="tiles-wrap">
                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/icon1.svg"
                                                    alt="Screen Sharing"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Screen Sharing</h4>
                                            <p class="m-0 text-sm">
                                                You May Share your screen, application window, present your documents, slides
                                                and more. Up to 4k resolution and speed up to 60fps.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-04.svg"
                                                    alt="WebCam Streaming"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">WebCam Streaming</h4>
                                            <p class="m-0 text-sm">
                                                Having the webcam on, allows participants to make a deeper connection
                                                with you. Up to 4k resolution and speed up to 60fps.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-01.svg"
                                                    alt="Chat Room"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Chat Room</h4>
                                            <p class="m-0 text-sm">
                                                You May Chat with others in the meeting, either public chat or private, save the
                                                meeting messages. An integrated emoji picker to show your feeling.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-03.svg"
                                                    alt="Meeting Recording"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Meeting Recording</h4>
                                            <p class="m-0 text-sm">
                                                You May Record your Screen, WebCam and Audio. Save it for use in the future or
                                                to share with others.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-06.svg"
                                                    alt="Interactive Whiteboard"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Interactive Whiteboard</h4>
                                            <p class="m-0 text-sm">
                                                There is an advanced collaborative whiteboard to draw and explain your concepts to
                                                the other participants in the meeting.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-02.svg"
                                                    alt="File Sharing"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">File Sharing</h4>
                                            <p class="m-0 text-sm">
                                                You May Share any types of files to all participants in the meeting, in total
                                                security, thanks to Datagram Transport Layer Security (DTLS).
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/icon6.svg"
                                                    alt="Total Privacy"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Total Privacy</h4>
                                            <p class="m-0 text-sm">
                                                Data stays between you and your participants. KM doesn't collect
                                                or share personal information. It's built for privacy first.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-05.svg"
                                                    alt="Maximum Security"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Maximum Security</h4>
                                            <p class="m-0 text-sm">
                                                End-to-end state-of-the-art encryption means your participants are
                                                exactly that. Your calls.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section">
                    <div class="container">
                        <div class="section-inner has-top-divider">
                            <div class="container-xs">
                                <div class="section-header center-content">
                                    <h3 class="m-0">Try an easier, more secure way of conferencing in Your Browser.</h3>
                                    <div class="container">
                                <br>
                            <div class="section-header center-content reveal-from-bottom">
                                <div class="container-xs">
                                </div>
                                </div>
                                <h3 class="mt-0 mb-16">Browsers In Support</br></h3>
                            <div class="tiles-wrap">
                                <div class="tiles-item reveal-from-bottom">
                                    <div class="tiles-item-inner">
                                        <div class="team-item-header">
                                            <div class="team-item-image mb-24">
                                                <img
                                                    src="../images/browsers.png"
                                                    alt="Supported Browsers"
                                                    width="auto"
                                                    height="auto"
                                                />
                                                    </div>
                                                    </div>
                                        <div class="team-item-content">
                                            <h5 class="team-item-name mt-0 mb-4">
                                                Chrome, Edge, Firefox, Opera, Safari, Brave and more.
                                            </h5>
                                                    </div>
                                                    </div>
                                            </div>
                                            </div>
                                    </div>
                                    </div>
                                <div class="center-content">
                                    <br>
                                    <a
                                        class="button button-primary button-wide-mobile pulse"
                                        style="
                                            border: 0;
                                            background: linear-gradient(100deg, #376df9 0, #00d9ff 75%, #fcfcfc 100%);
                                        "href="/newcall">Try now</br></a></a>
                                </div>
                            </div>
                    </div>
                </section>
            </main>
        </div>
<footer class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                             <div class="team-item-content">
                                <center>
                                <br><strong><span style = "color:blue">GROUP MEMBERS</span></strong><br/>
                                 <br><a href="/"><img src="../images/ankangroup.png" alt="Neon" width="90" height="90" /></a><br/>
                                                <br>ANKAN GHOSH <br/><br>ANKAN PRADHAN<br/>
                                            </a>
                                            <div class="team-item-role text-xxs fw-500 tt-u text-color-primary mb-8">
                                                <br>Students of KALYANI MAHAVIDYALAYA<br/>
                                            </div>
                                        </center>
        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
    </body>
</html>
